<!--The content below is only a placeholder and can be replaced.-->

<body>
  <div id="okay">
    <!-- Working with one D arrays -->
  <div id="container">
  <div id="header">
    <h1>
      Welcome to {{ title }}!
    </h1>

  </div>

  <!-- 
<div id="moreProblems">
    <div id="enterText">
      <input type="text" placeholder="Add task" [(ngModel)]="newTask"/>
      <button (click)="addTask();">+</button> 
    </div>
    <br/>
    <div class="displayTask" *ngFor="let task of tasks">
      <span class="editMe">{{task}}</span>
      <button (click)="deleteTask(task);">{{cross}}</button><br/>
    </div>
  </div>
  </div>

  -->

  <div id="moreProblems" class="inputDividers">
    <div class="enterText">
      <input id="input" type="text" placeholder="Add task" [(ngModel)]="newTask"/>
      <button (click)="addTask();">+</button> 
    </div>
    <br/>
    <div class="displayTask" *ngFor="let task of tasks">
      <span class="editMe">{{task}}</span>
      <button id="showHiddenDiv" (click)="showDiv(task);">{{Edit}}</button>
      <button (click)="deleteTask(task);">{{cross}}</button><br/>
      <!-- This is for the hidden div 
        <div class="hidden" *ngFor="let task of tasks">
          <input type="text" [(ngModel)]="editTask"/>
          <button class ="Save" (click)="editItem(task); hideDiv(task);">{{Save}}</button>
          <button class="cancel" (click)="hideDiv(task);">{{Cancel}}</button>
        </div>
      -->

      
    </div>
  </div>
  </div>



  <!-- Working with parallel arrays -->
  <div id="container">
      <div id="header">
        <h1>
          Welcome to {{ title }}!
        </h1>
    
      </div>
  <div id="parallelArrays" class="inputDividers">
    <div class="enterText" id="secondGroup">
      <div class="displayInline">
          <input id="input" type="text" placeholder="Add task" [(ngModel)]="newArrayTask"/>
          <input id="input" type="text" placeholder="Priority level" [(ngModel)]="newPriorityLevel"/>
      </div>
      <button id="buttonInline" (click)="addParallelTask();">Add task</button>
    </div>
    <br/>
    <div class="displayTask" *ngFor="let arrayTask of arrayTasks">
      <div id="displayContainer">
        <div id="">
          <span class="editMe">{{arrayTask.taskName}}</span>
          <span class="editMe">{{arrayTask.taskPriority}}</span>
        </div>
        <button id="showHiddenDiv" (click)="allowEdit(arrayTask);">{{Edit}}</button>
        <button (click)="removeTask(arrayTask);">{{cross}}</button>
        
      </div>

    </div>
  </div>

  </div>
  </div>
 



</body>
<router-outlet></router-outlet>
